body {
    font-family: Arial, sans-serif;
    margin: 0;
    paddining: 0;
    background-color: #f4f4f4;
    color: #1c3a52;
}

.container {
    width: 100%;
    margin: 10px;
    padding-top: 1.8px;
}

.container h1 {
    text-align: center;
    margin: 0;
}

.container h2 {
    text-align: center;
    color: #61ad9c;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {
    background-color: #1c3a52;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    color: #f4f4f4;
    transition: transform 0.2s;
}

.box:hover {
    transform: scale(1.05);
    background-color: #eaeaea;
}

.box h2 {
    margin-top: 0;
    font-size: 1.2em;
    pading-top: 0;
    color: #ffffff;
}

.box p {
    font-size: 0.95em;
    color: #61ad9c;
}

.content-container {
    width: 100%;
    margin: 0;
    padding: 20px;
}

.content-container h1 {
    text-align: center;
}

.content-container p {
    text-size: 3px;
    text-align: right;
}

#flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 12;
    }
}
